@import '../../../styles/variables.scss';

.navbar{
    height: $navbar-height !important;
}

span{
    color : gold;
    font-size: 23px;
}

a{
    color: white !important;
    margin-left: 3em;
    font-size: 15px;

    &.active{
        border-bottom: 3px solid gold;
    }
}

a:hover{
        cursor: pointer !important;
}



    
